 header .ccs3-controler{
    display: inline;
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 30px;
    
}
header a{
    text-decoration: none;
}
header a:hover{
color: burlywood;
}
.ccs3-controler li:nth-child(2n) {
        background: lightgreen;
      }
.ccs3-controler li:nth-child(2n+1) {
        background:lightcoral;
      }
.ccs3-controler li:last-child {
        background:olivedrab;
      }

/* image-positioning section*/

.image-positioning{
    display: flex;
    gap: 15px;
}
.image-controller-1{
    position: relative;
    top: 100px;
    left: 0px;
}
.image-controller-2{
    position: absolute;
    bottom: 0;
}
.image-controller-3{
    width: 200px;
    height: 2000px;
}
.image-controller-3 #image-3{
    position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 200px;
}
.image-controller-4{
    position: fixed;
}
.image-controller-5{
    position: absolute;
    left: 350px;
    top: 200px;
    z-index: 5;
    /* z-index value positive means image is viewing over the other objects */
  }

  /* stack overflow section */
  .stack-1{
    width: 600px;
    height: 500px;
    border:5px solid lightcoral ;
  }
.stack-2{
    width: 200px;
    height: 300px;
    border: 5px solid orange;
    color:olivedrab;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
  .stack-controller{
    display: flex;
    gap: 30px;
  }
  .stack-3{
    white-space: nowrap;
    background-color: cadetblue;
  }
  .tooltip{
    border: 1px solid red;
    color: blue;
    width: 200px;
    height: 50px;
   white-space: nowrap;
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }
  
  .tooltip .tooltiptext{
    visibility: hidden;
  }
  .tooltip:hover .tooltiptext{
visibility: visible;
  }
  


        
